@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; margin: 0; }
body { @apply bg-[#f3f1ed] text-gray-900 antialiased; }

.page-container { @apply w-full max-w-7xl md:max-w-[1440px] mx-auto px-4 sm:px-6 lg:px-10; }
